/*BACKGROUND*/
body{
  margin: 0;
  background: url("../assets/wood-texture.png");
  background-repeat: repeat;
}

/*GLOBAL CONTENER*/
#content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*TITRE*/
#title{
  font-size: 80px;
}

/*ENSEMBLE JEU + INFOS*/
#game{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*INFORMATIONS SUR LE DEROULEMENT DE LA PARTIE*/
#infos{
  font-size: 48px;
  text-decoration: underline;
}

/*JEU*/
#tic-tac-toe{
  /*SIZE*/
  width: 300px;
  height: 300px;
  /*IMAGE*/
  background: url("../assets/tic-tac-toe.png");
  background-size: cover;
  /*POLISH*/
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.75), 2px 2px 4px rgba(255, 255, 255, 0.5),
  2px 2px 4px rgba(0, 0, 0, 0.75) inset, -2px -2px 2px rgba(0, 0, 0, 0.25) inset;
}

td{
  width: 100px;
  height: 97px;
}

/*ROND*/
.player1{
  background: url("../assets/sign-o.png");
  background-size: cover;
}

/*CROIX*/
.player2{
  background: url("../assets/sign-x.png");
  background-size: cover;
}

.text{
  /*FONTS*/
  font-family: BearHugs;
  font-weight: bold;
  /*POLISH*/
  color: #D6AB60;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.75), -2px -2px 4px rgba(0, 0, 0, 0.5);
}

/*FONTS*/
@font-face {
  font-family: 'BearHugs';
  src: url('../assets/BEARHUGSBYRATTICSASSIN-Regular.ttf') ;
}
